body{font:14px "Gentium Basic",serif;color:#333;width:1080px;margin:0 auto}body h1,body h2,body h3{font:18px "Anton",sans-serif;color:#5f5f5f}.header h1{text-align:center;padding:10px;font:40px "Anton",sans-serif}.maj{font:18px "Anton",sans-serif;color:#5f5f5f}
/*# sourceMappingURL=style.css.map */
