$font-titre: 'Anton', sans-serif;
$font-texte: 'Gentium Basic',serif ;
$col1: #333;
$rouge: #eb1e5c;
$brun: #5f5f5f;
$blanc:#fff;

body{
	font: 14px $font-texte;
	color: $col1;
	width: 1080px;
	margin: 0 auto;
	h1,h2,h3{
		font: 18px $font-titre;
		color: $brun; 
	}
}

.header{
	h1{
		text-align: center;
		padding:10px;
		font: 40px $font-titre;
	}
}

// .boite {
// 	display: block;
// 	color: $blanc;
// 	background: $col1;
// }

.maj{
	font: 18px $font-titre;
	color: $brun; 
}


